%h2 Available Scripts

.navbar
  %a.btn.btn-primary(href="/") back to index
  %a.btn(href="/form/script") create new script

%table.table
  %tr
    %th name
    %th created
    %th actions
  %tbody
    - @scripts.each do |row|
      %tr
        %td= row.name
        %td= row.created_at.strftime("%Y-%m-%d %H:%M")
        %td
          %a.btn{:href=>"/rule/assign/#{@rule.id}/#{row.id}"} assign

