%h2 Available Scripts
%table
  %tr
    %th name
    %th created
    %th actions
  %tbody
    - @scripts.each do |row|
      %tr
        %td= row.name
        %td= row.created_at.strftime("%Y-%m-%d %H:%M")
        %td
          %a{:href=>"/rule/assign/#{@rule.id}/#{row.id}"} assign
%a(href="/") back to index
|
%a(href="/form/script") create new script

