%form{:method => 'post', :action => "/rule/delete/#{@rule.id.to_s}"}
  %fieldset
    %label{:for => ""} Really delete?
    %input.submit{:type => :submit, :name => 'submit', :value => "Cancel"}
    %input.submit{:type => :submit, :name => 'submit', :value => "Submit"}
