%h2 Available Scripts
%table{:width => "80%", :style => "border: 1px solid"}
  %tr
    %th name
    %th created
    %th actions
  %tbody
    - @scripts.each do |row|
      %tr
        %td= row.name
        %td= row.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %td
          %a{:href=>"/rule/assign/#{@rule.id}/#{row.id}"} assign
%a(href="/form/script") create new script
%a(href="/") back to index

